<%- include("../includes/header.ejs", {title:"Add New Warehouse"}); %>
<h1>Add New Warehouse</h1>
<form action="/warehouse/insert" method="get">
    Zip Code: <input id="zip_w" name="zip_w" type="text" />
    <br />
    <br />
    City Location: <input id="name_w" name="name_w" type="text" />
    <br/>
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>