<%- include("./includes/header.ejs", {title: title}); %>
<center><h1>About Re-Up</h1></center>
<center><h4>"Live it up... without getting up"</h4></center>
<br /><br />
<center><p>Re-Up </p></center>
<center><p>This is a secure Re-Up website is for the use of warehouse Managers and Re-Up Executives only. </p></center>
<center><p>The purpose of the site is to allow Re-up Management easy access to vital information being utilized on a daily basis.</p></center>

<center><a href="/"><< back</a></center>
<center> <img src=”/public/images/myErd.jpg” /></center>
<center> <img src=”/public/images/mySch.jpg” /></center>
<%- include("./includes/footer.ejs"); %>