<%- include("./includes/header.ejs", {title: title}); %>

<center><h1><%= title %> Company Database</h1></center>

<center><p>"Live it up... without getting up"</p></center>

<center><a href="/user/all">All User's</a> <br /></center>
<center><a href="/order/all">All Order's</a> <br /></center>
<center><a href="/warehouse/all">All Warehouse's</a> <br /></center>
<center><a href="/beverage/all">All Beverage's</a> <br /></center>


<br /><br />
<center><a href="/about">About Us</a><br /></center>


<%- include("./includes/footer.ejs"); %>